html, body {height: 100%;width: 100vw;}

body{
	background-color: #7eb6ff;
	overflow-x: hidden;
}
#logo{
	height: 80px;
	float: right;
	transition: all 0.5s ease-in-out;
}
#logo:hover{
	transform: rotate(360deg);
}
header{
	width: calc(100vw - 13px);
	position: static;
	background-color: #8c44e8;
	height: 80px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 10px;
	/*margin-left: -10px;*/
	margin-right: -5px;
	margin-top: -10px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
footer{
	width: calc(100vw - 13px);
	background-color: #8c44e8;
	height: 80px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
	/*margin-left: -10px;*/
	margin-right: -5px;
	margin-top: -80px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	position: relative;
	bottom: 0;
	clear: both;
}
.name{
	font-family: Courier, sans-serif;
	font-size: 20px;
	color: white;
	text-shadow: 2px 3px 4px black;
	display: inline-table;
	background-color: green;
	transition: all 0.24s ease-out;
	padding: 3px;
}
.name:hover{
	transform: translate(10px) rotate(-7deg);
}
.name a{
	text-decoration: none;
	color: inherit;
}
#arrow{
	height: 50px;
	display: inline-table;
}
#header_title{
	display: inline-table;
	margin: auto;
	text-align: center;
	font-family: Arial;
	font-size: 200%;
	color: white;
	text-shadow: 1px 2px 3px teal;
}
#container{
	/* sum of the height of the footer and header */
	height: calc(100% - 200px);
	background-color: #5a3eff;
	width: 80vw;
	margin: auto;
	margin-bottom: 100px;
	display: table;
	margin-top: 15px;
	padding: 5px;
	border-radius: 10px;
	text-shadow: 0px 0px 2px white;
}
#contact_me{
	display: inline-block;
	font-weight: bold;
	text-shadow: 0 0 2px white;
}
#contacts{
	display: inline-table;
	border: 1px solid aqua;
	border-radius: 5px;
}
#contacts tr:first-child td{
	border-top: 0px dashed blue;
}
#contacts tr td{
	border-top: 1px dashed blue;
}
#contacts td:first-child{
	border-right: 1px dotted white;
	text-shadow: 0 0 1px lime;
}
a{
	color: white;
	text-decoration: none;
	transition: all 0.24s ease-in-out;
	text-shadow: 0 0 0 white;
}
a:hover{
	color: black;
	text-shadow: 0 0 3px white;
}